
<!--<div style="background-color: tan; background-image: url('http://s1.1zoom.me/b5050/438/394292-svetik_2560x1440.jpg')">
    <h1 style="color: aliceblue;"> Chirper </br>      Presented by Markus"</h1>
    <div id="intro">
    <button><a href="#add" class="button">.....A Galaxy Far Far Away...</a></button> 
    <button><a href="#list" class="button">.....A Galaxy Far Far Away...</a></button>
</div>

<ul>
    <li ng-repeat="item in thingsWayneIsWrongAbout " ng-show="isString(item)"> {{ item }}</li>
</ul>-->

<button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    <button type="button"class='btn2'><a href="#/list">List of Chirps!</a></button>

    <button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    <button type="button"class='btn2'><a href="#/list">List of Chirps!</a></button>

    <button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    <button type="button"class='btn2'><a href="#/list">List of Chirps!</a></button>

    <button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    <button type="button"class='btn2'><a href="#/list">List of Chirps!</a></button>

    <button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    <button type="button"class='btn2'><a href="#/list">List of Chirps!</a></button>

    <button type="button"class='btn'><a href="#/add">Create Chirps!</a></button>
    