

<!--<div ng-controller="chirpy">
       <div ng-click='deleteData(postList.id)'>
        <p> User: {{ chirpUser }} </p></a>
        <span>Chirped: {{ chirpMessage }}</span>
</div>-->

<!--<div ng-controller='singleController'>
 <div ng-click='deleteData(postList.id)'>
   <p>User : {{ postList.user }} </p>
   <p>Message : {{ postList.message }} </p>
</div>
</div>-->

<div ng-controller='singleController'>
  <div ng-click='deleteData(postList.id)'>
    <p>User : {{ postList.user }} </p>
    <p>Message : {{ postList.message }} </p>
</div>
</div> 
-- 